[submodule "list-all-repos-langs"]
	path = list-all-repos-langs
	url = https://github.com/kazumakano/list-all-repos-langs.js.git
[submodule "type-writer"]
	path = type-writer
	url = https://github.com/kazumakano/type-writer.js.git
