.frameworkGrid {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.frameworkGrid > div > a > div {
  height: 100%;
}

.nameTile {
  align-items: center;
  border-radius: 20px;
  color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 3px;
}
