.spinner {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.langBar > div {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  height: 30px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 2px;
}

.langBar > div > div {
  align-self: stretch;
  margin-left: 1px;
  margin-right: 1px;
  min-width: 26px;
}

.langBar > div > div:first-child {
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
  margin-left: 0;
}

.langBar > div > div:nth-last-child(2) {
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
  margin-right: 0;
}

.label {
  font-size: medium;
  margin-left: auto;
  margin-right: 10px;
}
